@import "./variables.css";

.add-btn {
    z-index: 1;
}

.add-project-btn {
    width: fit-content;
    border-radius: 30% 70% 44% 56% / 33% 40% 60% 67% ;
    padding: .7rem;
    position: fixed;
    right: 6vw;
    bottom: 6vw;
    transition: all .3s;
}

.plus-icon-project {
    font-size: 8vw;
    color: var(--colorWhite);
}


.add-project-btn:active {
    border-radius: 81% 19% 66% 34% / 41% 59% 41% 59%;
    transition: all .3s;
}

.adm-options .fa-pen-to-square, .adm-options .fa-trash {
    color: var(--colorSpringGreen);
}
/*
.adm-options .fa-pen-to-square:not(a):hover, 
.adm-options .fa-pen-to-square:not(a):focus {
    color: var(--colortextDanger) ;
}

.adm-options .fa-trash:not(a):hover,
.adm-options .fa-trash:not(a):focus {
    color: var(--colortextDanger);
}
*/


@media (min-width: 900px) {

    .add-project-btn {
        right: 4vw;
        bottom: 3vw;
        transition: all .3s;
    }

    .plus-icon-project {
        font-size: 4vw;  
    }

    .add-project-btn:hover, .add-project-btn:focus {
        border-radius: 81% 19% 66% 34% / 41% 59% 41% 59%;
        transition: all .3s;
    }

    .adm-options {
        z-index: 1;
    }
    /*
    .adm-options .fa-pen-to-square:not(a):hover,
    .adm-options .fa-pen-to-square:not(a):focus {
        color: var(--colortextDanger) !important;
    }

    .adm-options .fa-trash:not(a):hover,
    .adm-options .fa-trash:not(a):focus {
        color: var(--colortextDanger) !important;
    }

    .adm-options a:hover, .adm-options a:focus {
        color: red !important;
    }
    */
}