@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__main-division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-division__first__top {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.first__img-container {
    width: 70%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.75);
    margin-left: 8vmin;
    margin-top: 4.5rem;
}

.current-project-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.current-project-img-dark {
    filter: grayscale(50%) brightness(100%)
}
.current-project-img-light {
    filter: grayscale(50%) 
}

.img-overlay-description {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6vmin 6vmin;
    border-radius: 10px;
    gap: 5vmin;
    position: relative;
    top: -2rem;
    right: -5rem;
    box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.75),
                -2px -2px 10px 0 rgba(0,0,0,0.75),
                0px 0px 30px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.75),
                        -2px -2px 10px 0 rgba(0,0,0,0.75),
                        0px 0px 30px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.75),
                    -2px -2px 10px 0 rgba(0,0,0,0.75),
                    0px 0px 30px 0 rgba(0,0,0,0.75);
    flex-basis: 200px;
    min-width: 40%;
    backdrop-filter: blur(5px);
    
    
}

.current-post-title {
    font-size: 2.7vh;
}


.current-post-description {
    font-size: 1.8vh;
    line-height: 5vmin;
    letter-spacing: 1px;
    width: 100%;
}

.img-overlay-description-dark {
    color: var(--colorWhite);
    border-top: 1px solid #cccbcb;
    border-left: 1px solid #cccbcb;
    border-bottom: 1px solid #585858;
    border-right: 1px solid #585858;
    background-color: #0000001c;
}



.img-overlay-description-light {
    color: var(--colorWhite);
    background-color: #00000050;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
}
.img-overlay-description-light a {
    color: var(--colorLightGold);
}




.single-project-link.github-link {
    width: fit-content;
}
.single-project-link a {
    word-break: break-all;
    font-size: 3vw !important;
    color: var(--colorEmerald);
}
.single-project-link.github-link a {
    word-break: break-all;
    font-size: 3vw !important;
}

.single-project-link a:hover, .single-project-link a:focus {
    color: var(--SpringGreen);
}

.hashtag-text-project div {
    background-color: var(--backgroundSecondary);
    border-color: var(--textSecondary);
}

.hashtag-text-project p {
    font-size: 1.8vh !important;
    font-weight: 500;
    color: var(--textSecondary) !important;
}

.light-span {
    color: var(--colorLightGold);
}

.dark-span {
    color: var(--colorLightGold);
}

.project-data__top {
    padding-bottom: 1rem;
}

.project-data__bottom-light {
    padding-top: 1rem;
    border-top: 1px solid var(--colorLightGold);
}

.project-data__bottom-dark {
    padding-top: 1rem;
    border-top: 1px solid rgb(156, 155, 155);
}



@media (min-width: 900px) {

    .container__main-division {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 8vmin;
    }

    .main-division__first {
        padding-top: 2rem;
    }

    .main-division__first__top {
        align-items: flex-end;
    }
    
    .current-project-img {
        width: 100%;
        border-radius: 10px;
    }

    .first__img-container {
        width: 70%;
        height: auto;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);

    }
        
    .current-project-img {
        display: block;
        width: 100%;
        border-radius: 10px;
        object-fit: contain; 
    }

    .img-overlay-description {
        width: 35%;
        aspect-ratio: 16 / 9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4vmin 3vmin;
        border-radius: 10px;
        gap: 2vw;
        position: relative;
        top: -12rem;
        right: 2rem;
        box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
        backdrop-filter: blur(5px);
    }

    .img-overlay-description-dark {
        border-top: 1px solid #cccbcb;
        border-left: 1px solid #cccbcb;
        border-bottom: 1px solid #585858;
        border-right: 1px solid #585858;
        background-color: #0000005e;
        
    }

    

    .current-post-title {
        font-size: 1.3vw;
    }
    .current-post-description {
        font-size: .8vw;
        line-height: 1.7vw;
        letter-spacing: 1px;
        
    }

    .project-index-container {
        font-size: 25vmin;
        font-weight: 900;
        position: absolute;
        color: wheat;
        top: 15vh;
        z-index: -4;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }

    .main-division__second {
        box-sizing: border-box !important;
        display: flex;
        justify-content: center;
        padding-right: 4vh;
        
    }

    .second__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 4vmin 4vmin 4vmin;
        min-height: 70vh;
        max-height: 80vh;
        width: 60%;
        min-width: 300px;

    }

    .hashtag-text-project div {
        background-color: var(--backgroundSecondary);
        border-color: var(--textSecondary);
    }

    .hashtag-text-project .hashtag-box p {
        font-size: 1vw !important;
        font-weight: 500;
        color: var(--textSecondary) !important;
    }

    .project-data {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2vh;
        border-radius: 10px;
        box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
            0px 12px 20px rgba(0,0,0,0.2),
            0px 30px 80px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
            0px 12px 20px rgba(0,0,0,0.2),
            0px 30px 80px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
            0px 12px 20px rgba(0,0,0,0.2),
            0px 30px 80px rgba(0,0,0,0.2);
        backdrop-filter: blur(7px);
        
    }

    

    .project-data__top {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }

    .project-data__top h3 {
        font-size: 3vmin;
    }
    .project-data__top h4 {
        font-size: 1.7vmin;
        font-weight: 500;
    }

    .single-project-link {
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;

    }
    .single-project-link.github-link {
        font-weight: 500;
        display: flex;
        flex-wrap: wrap !important;

    }
    .single-project-link a {
        font-weight: 300;
        word-break: break-all;
        font-size: 1vw !important;
        color: var(--colorLightGold);
    }

    

    .single-project-link.github-link a {
        word-break: break-all;
        font-size: 1vw !important;
    }

    .img-overlay-description-light .single-project-link a {
        color: rgb(226, 210, 179);
    }

    .text-project-link:hover, .text-project-link:focus {
        color: var(--colorEmerald)  !important;
    }

    .project-data__bottom {
        display: flex;
        flex-direction: column;
        gap: .7vh;
    }

    .total-data span {
        font-weight: 700;
    }

    .post-admin-actions-container {
        font-size: 2.5vh;
        display: flex;
        justify-content: flex-end;
        gap: 2vh;
        align-self: flex-end;
        border-radius: 10px;
        width: fit-content;
        padding: 1rem 1rem;
        box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
0px 12px 20px rgba(0,0,0,0.2),
0px 30px 80px rgba(0,0,0,0.2);
        margin-bottom: 2vmin;
        border-bottom: 1px solid #979797;
        border-right: 1px solid #bebebe;
        
    }

    .post-admin-action-btn {
        transition: all .3s;
    }

    .post-admin-action-btn:hover, .post-admin-action-btn:focus {
        cursor: pointer;
    }

    .post-admin-action-btn.edit:hover, .post-admin-action-btn.edit:focus {
        color: var(--colorEdit);
        transition: all .3s;
    }

    .post-admin-action-btn.delete:hover, .post-admin-action-btn.delete:focus {
        color: var(--textDanger);
        transition: all .3s;
    }

    .post-admin-actions-container.img-overlay-description-light {
        border-top: 1px solid var(--colorWhite);
        border-left: 1px solid var(--colorWhite);
        border-bottom: 1px solid #979797;
        border-right: 1px solid #bebebe;
    }
    .post-admin-actions-container.img-overlay-description-dark {
        border-top: 1px solid var(--colorWhite);
        border-left: 1px solid var(--colorWhite);
        border-top: 1px solid #cccbcb;
        border-left: 1px solid #cccbcb;
        border-bottom: 1px solid #585858;
        border-right: 1px solid #585858;

    }

    .main-division__first__bottom {
        display: flex;
        align-items: flex-start;
    }

    .post-user-actions-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2vh;
        border-radius: 10px;
        position: relative;
        top: -26vh;
        right: -15vh;
        gap: 2vh;
        box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
            0px 12px 20px rgba(0,0,0,0.2),
            0px 30px 80px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
            0px 12px 20px rgba(0,0,0,0.2),
            0px 30px 80px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 20px 50px rgba(0,0,0,0.3),
            0px 12px 20px rgba(0,0,0,0.2),
            0px 30px 80px rgba(0,0,0,0.2);
        border-top: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-bottom: 1px solid #979797;
        border-right: 1px solid #bebebe;
    }

    .post-user-actions-container.img-overlay-description-dark {
        border-top: 1px solid #cccbcb;
        border-left: 1px solid #cccbcb;
        border-bottom: 1px solid #585858;
        border-right: 1px solid #585858;
        background-color: #0000001c;
    }

    .like-icon-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }

    .like-action {
        font-size: 1.5vw;
        color: var(--textDanger);
    }



    .like-action:hover, .like-action:focus {
        cursor: pointer;
    }


    
    .tilt-card {
        transform: translateZ(20px)
    }

    .blob-container-project-single-main {
        height: fit-content !important;
        position: absolute;
    }
    .blob-container-project-single-other {
        height: fit-content !important;
        position: absolute;
    }

    .project-single-main-blob {
        top: 0;
        left: -32rem;
        z-index: -9;
    }

    .project-single-other-blob {
        top: 0;
        left: -32rem;
        z-index: -9;
    }













}