

.star-rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.star-rating {
    display: inline-block;
    font-size: 1.5vw;
    cursor: pointer;
  }




