:root {
    --colorWhite: #F4FCFF; 
    --colorGhostWhite: #F3F4FF; 
    --colorAbsoluteWhite: #FFFFFF; 
    --colorGrey: #95A3B3; 
    --colorGreyBlue: #185068; 
    --colorPurple: #530791; 
    --colorBlue: #142E66; 
    --colorCelticBlue: #1969CB; 
    --colorDodgerBlue: #2697F5; 
    --colorPictonBlue: #00AAFF; 
    --colorStrongBlue: #0066FF; 
    --colorArgentinianBlue: #4CA8FF; 
    --colorAquamarine: #4AE7C1; 
    --colorEmerald: #27D49F; 
    --colorLightEmerald: #64FFDA; 
    --colorSpringGreen: #00FF9D; 
    --colorPrussianBlue: #252E40; 
    --colorGummetal: #2C2F36; 
    --colorDarkGrey: rgb(63, 58, 82);
    --colorDarkerGrey: #383B44;
    --colorLightGold: rgb(226, 210, 179);
    --colorEdit: #d79743;
    --darkBackground: linear-gradient(
        95deg,
        hsl(233deg 27% 18%) 0%,
        hsl(217deg 42% 20%) 33%,
        hsl(203deg 49% 24%) 67%,
        hsl(190deg 29% 37%) 100%
    );;
    --lightBackground:linear-gradient(
        95deg,
        hsl(0, 0%, 100%) 0%,
        hsl(235, 45%, 94%) 33%,
        hsl(234, 66%, 94%) 67%,
        hsl(257, 85%, 92%) 100%
    );
    --darkBackgroundSecondary: ;
    --lightBackgroundSecondary: ;

    /* Alert colors */
    --backgroundDanger:#ffa2ab; 
    --textDanger:#DC1957; 
    --backgroundSuccess:#83ECA3; 
    --textSuccess:#0e8030; 
    --backgroundWarning:#EBE498; 
    --textWarning:#D7CB43; 
    --backgroundPrimary:#99CFEA; 
    --textPrimary:#175676; 
    --backgroundSecondary:#bdb8b8; 
    --textSecondary:#575052; 
    --backgroundInfo:#8bf1f5; 
    --textInfo:#10a8ad;
}

