{% extends 'base.html' %}
{% load static %}


{% block title %}All Studies{% endblock %}

{% block content %}

<h1>Studies</h1>

{% for study in studies %}


        <div>
            <h2>{{study.name}}</h2>

            {% if study.image %}
                <img src="{{study.image.url}}" alt="{{study.institution}}" srcset="">
            {% endif %}

            <p>{{study.type}}</p>
    
            <p>{{study.institution}}</p>
    
            <p>{{study.from_date}}</p>
    
            <p>{{study.to_date}}</p>
    
            <p>{{study.institution_link}}</p>
    
            <p>{{study.certificate_link}}</p>
    
            <p>{{study.validations}}</p>
        </div>

{% endfor %}

{% endblock %}