{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/Post/styles.css' %}">
{% endblock %}

{% block title %}Project | {{post.title}}{% endblock %}

{% block content %}

<div class="post-container-all">
    <div class="post-container">
        <h1 class="post-title">Project: {{post.title}}</h1>
    
        <div class="post-content">
            {% if post.image %}
    
                <img class="post-image" src="{{post.image.url}}" alt="" srcset="">
                
            {% endif %}
            <p class="post-caption">{{post.caption}}</p>
    
            <p class="post-description">{{post.description}}</p>
    
            <p class="post-tech_used">{{post.tech_used}}</p>
    
            <p class="post-likes">{{post.likes}} likes</p>
        </div>
    
        <h3 class="review-title">Reviews</h3>
        <div class="reviews-container">
            {% for review in reviews %}
                {% if review.post.id == post.id %}
                <div class='review' style='margin:1rem'>
                    <p class="review__rating">{{review.rating}} / 5</p>
                    {% if review.user.is_authenticated and review.user %}
                        <p class="review__wrote"><span class="review__username">@{{review.user.username}}</span> wrote:</p>
                    {% elif review.anonymous_user %}
                        <p><span class="review__username">@{{review.anonymous_user.name}}</span> wrote:</p>
                    {% endif %}
                    <p class="review__content" style='margin:.5rem;margin-left:1rem'>{{review.content}}</p>
                    <p class="review__created-likes"><span class="review__created">{{review.created_at}}</span> | <span class="review__likes">{{review.likes}} likes</span></p>
                    <p class="like-comment"><span class="like-btn">Like</span> | <span class="comment-btn">Comment</span></p>
                </div>
                {% if review.comment_set.exists %}
                    <h6 class="comments-title" style='margin:1rem'>Comments</h6>
                    
                    {% include "components/comments.html" with comments=review.comment_set.all %}
                
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    
        <h3>Leave a Review!</h3>
        {% include "pages/Post/create_review.html" %}
    </div>
</div>



{% endblock %}