:root {
    --colorWhite: #F4FCFF; 
    --colorAbsoluteWhite: #FFFFFF; 
    --colorGrey: #95A3B3; 
    --colorGreyBlue: #185068; 
    --colorBlue: #142E66; 
    --colorCelticBlue: #1969CB; 
    --colorDodgerBlue: #2697F5; 
    --colorPictonBlue: #00AAFF; 
    --colorAquamarine: #4AE7C1; 
    --colorEmerald: #27D49F; 
    --colorSpringGreen: #00FF9D; 
}
